# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.pem
*.key

# OS stuff
.DS_Store
Thumbs.db


node_modules/
.next/
.terraform/
*.tfstate
*.tfstate.backup
.scannerwork/
coverage/
.env
.env.local
.DS_Store
*.log
